<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="customerForm">

    <p:messages id="messages" showDetail="true" closable="true"/>

    <p:outputLabel for="customer" value="Выберите Василису:"  />
    <p:selectOneMenu id="customer" value="#{customerBean.customer}" panelStyle="width:180px"
                     effect="fade" style="width:160px; margin-top: 5px; margin-left: 10px;" filter="true" filterMatchMode="startsWith">

        <p:ajax update=":customerForm customerTbl" 
                event="itemSelect" listener="#{customerBean.showCustomerInfo}"/>

        <f:selectItem itemLabel="Выберите... " itemValue="#{null}" noSelectionOption="true" />
        <f:selectItems value="#{customerBean.customers}" var="cust" itemLabel="#{cust}" itemValue="#{cust}" />

    </p:selectOneMenu>

    <p:dataTable id="customerTbl" var="order" value="#{customerBean.orders}" 
                 sortBy="#{order.id}" expandableRowGroups="true" style="width: 800px; margin-top: 10px;" resizableColumns="true" >
        <f:facet name="header">Перечень заказов с детализацией Василисы `#{customerBean.customer}`.</f:facet>
        <p:headerRow>
            <p:column colspan="3">
                <h:outputText value="#{order.date} - #{order.info}" />
            </p:column>
            <p:column  style="text-align: center;">
                <p:commandButton  icon="ui-icon-close" actionListener="#{customerBean.deleteOrder(order.id)}"  update="customerTbl  :customerForm:messages" >
                    <p:confirm header="Удаление" message="Вы хотите удалить заказ?" icon="ui-icon-alert" />
                </p:commandButton>    
            </p:column>
        </p:headerRow>
        <p:column headerText="Код" >
            <h:outputText value="#{order.code}" />
        </p:column>
        <p:column headerText="Длина" >
            <h:outputText value="#{order.length}" >
                <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
            </h:outputText>
        </p:column>
        <p:column headerText="Лист ожидания" >
            <h:outputText rendered="#{order.waitingList == true}" value="ждет" />
            <h:outputText rendered="#{order.waitingList == false}" value="берет" />
        </p:column>
        <p:column headerText="Действие" style="text-align: center;" >
            <p:commandButton  icon="ui-icon-close" actionListener="#{customerBean.deleteItem(order.itemId)}"  update="customerTbl  :customerForm:messages"  >
                <p:confirm header="Удаление" message="Вы хотите удалить из заказа #{order.code}?" icon="ui-icon-alert" />
            </p:commandButton>    
        </p:column>
    </p:dataTable>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>

</h:form>

