<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="orderForm">

    <p:messages id="messages" showDetail="false" closable="true"/>
    <p:panel header="Ввод тканей"> 
        <h:outputText style="margin-left: 10px;"   
                      value="Формат ввода: код - номер_рулона - метраж; Номер рулона необязателен, десятичный разделитель - точка или запятая." />
        <br/>
        <h:outputText style="margin-left: 10px;"   
                      value="Латиницей или кириллицей, предпочтительно уникальными буквами во избежание путаницы. Регистр неважен." />
        <br/>
        <h:outputText style="margin-left: 10px;" value="Пример (латиница) : G1-1-6; v11-2-8.5; R2-8; R2-2-6; L10-10.3;" />
        <br/>
        <h:outputText style="margin-left: 10px;" value="Пример (кирилица) : Ф1-6; ч3-5; д2-8;" />
        <br/>
        <h:outputText style="margin-left: 10px;" value="Пример (неудачный) : A1-7; c1-5.8; O1-8;" />

        <h:panelGrid columns="1" cellpadding="5" id="inputGrid" style="margin-top: 20px;">
            <h:outputText style="margin-left: 0px;" value="Поступление:" />
            <p:inputTextarea id="inputFabrics" label="Поступление" value="#{fabricsBean.fabricsNew}" required="true" cols="120" rows="3"/>                    
            <h:message for="inputFabrics" />
            <p:commandButton value="Добавить" actionListener="#{fabricsBean.addFabrics}"  update=":orderForm:inputGrid  messages"  />
        </h:panelGrid>
    </p:panel> 
</h:form>
