<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="availForm">



    <p:messages id="messages" showDetail="true" closable="true" />

    <p:commandButton value="Обновить" icon="ui-icon-refresh" actionListener="#{fabricsBean.refreshFabrics}"  update="avaFabrics messages" style="margin-right: 10px;" />
    <p:commandButton value="Опубликовать все ткани" icon="ui-icon-check" action="#{fabricsBean.visibleAllFabrics}" update="@form messages"  style="margin-right: 10px;" />  
    <p:commandButton value="Распределить поступление" icon="ui-icon-arrow-4-diag" label="Распределить поступление" action="#{fabricsBean.distributeNewFabrics}" update="avaFabrics messages" />  
    <p:commandButton value="Установить статус `Берем`" icon="ui-icon-check" label="Установить выбранным рулонам статус `Берем`" action="#{fabricsBean.approved()}" update="avaFabrics messages" />  

    <p:dataTable id="avaFabrics" var="fabric" value="#{fabricsBean.fabricsAll}"  
                 editable="true"  resizableColumns="true" 
                 selection="#{fabricsBean.selectedFabrics}" rowKey="#{fabric.id}"
                 scrollable="true" scrollHeight="350" style="margin-top: 10px; margin-bottom:10px;">

        <f:facet name="header">Перечень имеющихся в наличии тканей. Редактирование.</f:facet>
        <p:ajax event="rowEdit" listener="#{fabricsBean.onRowEdit}" update=":availForm:messages" />  
        <p:ajax event="rowEditCancel" listener="#{fabricsBean.onRowCancel}" update=":availForm:messages" />

        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>

        <p:column headerText="Код"  footerText="Код" style="width:80px">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.code}" /></f:facet>
                <f:facet name="input"><p:inputText id="modelInput" value="#{fabric.code}" style="width:100%"/></f:facet>
            </p:cellEditor>
        </p:column>

        <p:column headerText="Рулон" footerText="Рулон"  style="width:60px">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.rollNumber}" /></f:facet>
                <f:facet name="input"><p:inputText value="#{fabric.rollNumber}" style="width:100%" /></f:facet>
            </p:cellEditor>
        </p:column>

        <p:column headerText="Метраж" footerText="Метраж" style="width:70px">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.rollLength}" >
                        <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"  />
                    </h:outputText>
                </f:facet>
                <f:facet name="input"><p:inputText value="#{fabric.rollLength}" style="width:100%" /></f:facet>
            </p:cellEditor>
        </p:column>

        <p:column headerText="Остаток" footerText="Остаток" style="width:70px">
            <h:outputText value="#{fabric.remainder}" >
                <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"  currencySymbol="."/>
            </h:outputText>
        </p:column>

        <p:column headerText="Статус" footerText="Статус" style="width:80px;text-align: center;" >
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.approved ? 'Берем': 'Думаем'}" /></f:facet>
                <f:facet name="input">
                    <h:selectOneMenu value="#{fabric.approved}" style="width:50%">
                        <f:selectItem itemLabel="Берем" itemValue="true" />
                        <f:selectItem itemLabel="Думаем" itemValue="false" />
                    </h:selectOneMenu>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column headerText="Цена" footerText="Цена" style="width:70px">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.price}" >
                        <f:convertNumber type="number" maxIntegerDigits="5" maxFractionDigits="2"  />
                    </h:outputText>
                </f:facet>
                <f:facet name="input"><p:inputText value="#{fabric.price}" style="width:100%" /></f:facet>
            </p:cellEditor>
        </p:column>
 
        <p:column headerText="Страница"  footerText="Страница" style="width: 100px;">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.imageFolder}" title="#{fabric.imageFolder}" /></f:facet>
                <f:facet name="input"><p:inputText id="imageFolder" value="#{fabric.imageFolder}" style="width:100%"/></f:facet>
            </p:cellEditor>
         </p:column>

        <p:column headerText="Путь"  footerText="Путь" style="width: 100px;">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.imagePath}" title="#{fabric.imagePath}" /></f:facet>
                <f:facet name="input"><p:inputText id="imagePath" value="#{fabric.imagePath}" style="width:100%"/></f:facet>
            </p:cellEditor>
         </p:column>

        <p:column headerText="Подсказка"  footerText="Подсказка" style="width: 100px;">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.imageTitle}" title="#{fabric.imageTitle}"  /></f:facet>
                <f:facet name="input"><p:inputText id="imageTitle" value="#{fabric.imageTitle}" style="width:100%"/></f:facet>
            </p:cellEditor>
         </p:column>

 
        <p:column headerText="Видимость" footerText="Видимость" style="text-align: center;">
            <p:cellEditor>
                <f:facet name="output"><h:outputText value="#{fabric.visible ? 'Доступно': 'Скрыто'}" /></f:facet>
                <f:facet name="input">
                    <h:selectOneMenu value="#{fabric.visible}" style="width:50%">
                        <f:converter converterId="javax.faces.Boolean" />
                        <f:selectItem itemLabel="Доступно" itemValue="true" />
                        <f:selectItem itemLabel="Скрыто" itemValue="false" />
                    </h:selectOneMenu>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column style="width:32px">
            <p:rowEditor />
        </p:column>

        <f:facet name="footer">
            <p:commandButton process="avaFabrics" update=":availForm:priceDetail" icon="ui-icon-extlink" value="Назначить цену" oncomplete="PF('priceDialog').show()" />
        </f:facet>

    </p:dataTable>

    <p:dialog header="Назначение цены" widgetVar="priceDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="priceDetail" style="text-align:center;" >
            
            <h:outputText value="Выбранные товары:" />
            
            <p:scrollPanel style="width:250px;height:200px; margin-top: 10px; margin-bottom: 10px;">
                <ui:repeat value="#{fabricsBean.selectedFabrics}" var="fabric">
                    <h:outputText value="#{fabric.code} - #{fabric.price}" style="display:block"/>
                </ui:repeat>
            </p:scrollPanel>

            <p:panelGrid  columns="2"  columnClasses="label,value" >

                <h:outputText value="Новая цена:" />
                <h:inputText value="#{fabricsBean.price}" />

            </p:panelGrid>

            <p:button value="Закрыть" style="margin-top: 10px; margin-right: 10px;" onclick="PF('priceDialog').hide(); return false;" /> 
            <p:commandButton id="sendButton"  value="Сохранить"  style="margin-top: 10px;" 
                             action="#{fabricsBean.assignPrice()}"
                             update="avaFabrics messages" oncomplete="PF('priceDialog').hide()">
            </p:commandButton>    

        </p:outputPanel>
    </p:dialog >

</h:form> 
