<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="summaryForm">


    <p:messages id="messages" showDetail="true" closable="true" />
    <p:commandButton value="Обновить" icon="ui-icon-refresh" actionListener="#{reportBean.refreshGeneralView}"  update=":summaryForm:tbl :summaryForm:messages" style="margin-right: 10px;" />

    <p:dataTable id="tbl" var="gen" value="#{reportBean.generalView}" sortBy="#{gen.level}" expandableRowGroups="true"
                 resizableColumns="true" style="margin-top: 10px; margin-bottom:10px;">
        <f:facet name="header">Распределение пожеланий Василис ( исполненые, активные и мечты ).Список раскрывающийся.</f:facet>
        <p:headerRow>
            <p:column colspan="5">
                <h:outputText rendered="#{gen.level==3}" value="Заказываем. Заявки подтвержденные." />
                <h:outputText rendered="#{gen.level==1}" value="Активная фаза. Заявки подтвержденные." />
                <h:outputText rendered="#{gen.level==2}" value="Ждем и надеемся. Заявки из очереди." />
            </p:column>
        </p:headerRow>

        <p:column headerText="Код" width="70">
            <h:outputText value="#{gen.code}" />
        </p:column>
        <p:column headerText="Рулон" width="70">
            <h:outputText rendered="#{gen.level==2}" value=" "/>
            <h:outputText rendered="#{gen.level!=2}" value="#{gen.rollNumber}" />
        </p:column>
        <p:column headerText="Длина" width="70">
            <h:outputText rendered="#{gen.level==2}" value=" "/>
            <h:outputText rendered="#{gen.level!=2}"  value="#{gen.rollLength}" />
        </p:column>
        <p:column headerText="Нужно" width="70">
            <h:outputText value="#{gen.bougthLength}" />
        </p:column>
        <p:column headerText="Неупорядоченный перечень заявок">
            <h:outputText value="#{gen.info}" />
        </p:column>
        <p:summaryRow>
            <p:column colspan="3" style="text-align:right">
                <h:outputText value="Итого:" />
            </p:column>
            <p:column>
                <h:outputText value="#{reportBean.totalAmount(gen.level)}">
                    <f:convertNumber pattern="# ###.00" />
                </h:outputText>
            </p:column>
            <p:column style="text-align:right">
                <h:outputText value="" />
            </p:column>
        </p:summaryRow>
    </p:dataTable>

</h:form>
