<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="availableForm">

    <p:messages id="messages" showDetail="false" closable="true"/>


    <p:dataGrid var="fabric" value="#{orderBean.fabricsAvail}" columns="6" 
                rows="36" paginator="true" id="fabricsAvail"
                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="24,48,60">


        <f:facet name="header">Перечень доступных марок / метраж</f:facet>
        <p:panel header="#{fabric.code}" style="text-align:center" >
            <h:panelGrid columns="1" style="width:100px">

                <ui:fragment rendered="#{not empty fabric.imageFolder and not empty fabric.imagePath}">
                <a href="#{fabric.imageFolder}"  target="preview"> 
                    <img src="#{fabric.imagePath}" border="0"
                         alt="#{fabric.imageTitle}" title="#{fabric.imageTitle}" width="60px" height="80px"/></a>
                </ui:fragment>
                         
                 <h:outputText value="#{fabric.remainder}м" >
                    <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
                </h:outputText>
            </h:panelGrid>
        </p:panel>

    </p:dataGrid>

</h:form>
