<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="availForm">


    <p:messages id="messages" showDetail="true" closable="true" />

    <p:commandButton value="Обновить" icon="ui-icon-refresh" actionListener="#{commonFabricsBean.refreshFabrics}"  update="avaFabrics messages" style="margin-right: 10px;" />
    <p:commandButton value="Установить статус `Берем`" icon="ui-icon-check" label="Установить выбранным рулонам статус `Берем`" action="#{fabricsBean.approved()}" update="avaFabrics messages" />  

    <p:dataTable id="avaFabrics" var="fabric" value="#{commonFabricsBean.fabrics}" widgetVar="avaTable" 
                 resizableColumns="true" 
                 scrollable="true" scrollHeight="350" style="margin-top: 10px; margin-bottom:10px;">

        <f:facet name="header">Детальный обзор продаж</f:facet>

        <p:column style="width:16px">
            <h:outputText rendered="#{fabric.visible == false}" value=" "/>
            <h:outputText rendered="#{fabric.visible == true and fabric.bougthLength == 0 and fabric.needLength == 0}" value=" "/>
            <ui:fragment rendered="#{ fabric.visible == true and fabric.bougthLength == 0 and fabric.needLength > 0 }">
                <p:rowToggler />
            </ui:fragment>
            <ui:fragment rendered="#{ fabric.visible == true and fabric.bougthLength > 0 }">
                <p:rowToggler />
            </ui:fragment>
        </p:column>

        <p:column headerText="Код"  footerText="Код" filterBy="#{fabric.code}"  filterMatchMode="contains" style="width:130px">
            <h:outputText value="#{fabric.code}" />
        </p:column>

        <p:column headerText="Рулон" footerText="Рулон"  style="width:60px">
            <h:outputText value="#{fabric.rollNumber}" />
        </p:column>

        <p:column headerText="Метраж" footerText="Метраж" style="width:70px">
            <h:outputText value="#{fabric.rollLength}" />
        </p:column>

        <p:column headerText="Остаток" footerText="Остаток" style="width:70px">
            <h:outputText value="#{fabric.remainder}" >
                <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Берут" footerText="Берут" style="width:70px">
            <h:outputText value="#{fabric.bougthLength}" >
                <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Хотят" footerText="Надо" style="width:70px">
            <h:outputText rendered="#{fabric.visible == false}" value=" "/>
            <h:outputText rendered="#{fabric.visible == true}" value="#{fabric.needLength}" >
                <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
            </h:outputText>
        </p:column>

        <p:column headerText="Статус" footerText="Статус" filterBy="#{fabric.approved}" filterMatchMode="equals"  style="text-align: center;">
            <f:facet name="filter">
                <p:selectOneButton onchange="PF('avaTable').filter()">
                    <f:converter converterId="javax.faces.Boolean" />
                    <f:selectItem itemLabel="Все" itemValue="" />
                    <f:selectItem itemLabel="Ок" itemValue="true" />
                    <f:selectItem itemLabel="Нет" itemValue="false" />
                </p:selectOneButton>
            </f:facet>
            <h:outputText value="#{fabric.approved ? 'Берем': 'Думаем'}" />
        </p:column>


        <p:rowExpansion>
            <p:dataTable id="items" var="customer" value="#{commonFabricsBean.customers(fabric.id)}" 
                         style="width:500px;" >  
 
                <p:column>  
                    <f:facet name="header">  
                        <h:outputText value="Василиса"></h:outputText>  
                    </f:facet>  
                    <h:outputText value="#{customer.nick}" />  
                </p:column>  

                <p:column headerText="Метраж"  style="width:70px">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{customer.length}" >
                                <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"  />
                            </h:outputText>
                        </f:facet>
                        <f:facet name="input"><p:inputText value="#{customer.length}"  size="4" style="width:100%" /></f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column headerText="Подтверждено"  style="text-align: center;" >
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{customer.waitingList ? 'Ждет': 'Берет'}" /></f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{customer.waitingList}" style="width:50%">
                                <f:selectItem itemLabel="Берет" itemValue="false" />
                                <f:selectItem itemLabel="Ждет" itemValue="true" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>


                <p:column style="width:32px;text-align: center">
                    <p:commandButton update=":availForm:itemDetail" 
                                     oncomplete="PF('itemDialog').show()" icon="ui-icon-extlink" 
                                     title="Детализация пункта заказа"
                                     action="#{commonFabricsBean.showOrderItem(customer.id, fabric.id)}" >
                   </p:commandButton>
               </p:column>  

 <!-- 

 --> 
            </p:dataTable>  
        </p:rowExpansion>

    </p:dataTable>
    
        <p:dialog header="Заказ" widgetVar="itemDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
             <p:outputPanel id="itemDetail" style="text-align:center;" >
            <p:panelGrid  columns="2" rendered="#{not empty commonFabricsBean.selectedFabricItem}" columnClasses="label,value">
                <h:outputText value="Ник:" />
                <h:outputText value="#{commonFabricsBean.selectedFabricItem.nick}" />
 
                <h:outputText value="Код:" />
                <h:outputText value="#{commonFabricsBean.selectedFabricItem.code}" />

                <h:outputText value="Длина:" />
                <h:inputText value="#{commonFabricsBean.selectedFabricItem.length}" />
 
                <h:outputText value="Подтверждено:" />
                <h:selectOneMenu value="#{commonFabricsBean.selectedFabricItem.waitingList}" style="">
                    <f:selectItem itemLabel="Берет" itemValue="false" />
                    <f:selectItem itemLabel="Ждет" itemValue="true" />
                </h:selectOneMenu>
            </p:panelGrid>
 
                <p:button value="Закрыть" style="margin-top: 10px; margin-right: 10px;" onclick="PF('itemDialog').hide(); return false;" /> 
                <p:commandButton id="sendButton"  value="Сохранить"  style="margin-top: 10px;"
                                 action="#{commonFabricsBean.updateOrderItem}"
                                 update=":availForm:avaFabrics" oncomplete="PF('itemDialog').hide()">
                </p:commandButton>    

        </p:outputPanel>
    </p:dialog >
    
</h:form> 


