<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="giftForm">

    <p:panel header="Оформление подарка Василис друг другу"> 
        <p:messages id="messages" showDetail="true" closable="true"/>

        <h:panelGrid columns="3" cellpadding="10" id="inputGrid">

            <p:outputLabel for="customerFrom" value="Василиса дарящая :"  />
            <p:selectOneMenu id="customerFrom" value="#{giftBean.customerFrom}" panelStyle="width:180px" required="true" 
                             effect="fade" style="width:160px; margin-top: 5px;" filter="true" filterMatchMode="startsWith">
                <p:ajax update="item" event="itemSelect" listener="#{giftBean.showItems}"/>
                <f:selectItem itemLabel="Выберите... " itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{giftBean.customers}" var="cust" itemLabel="#{cust}" itemValue="#{cust}" />
            </p:selectOneMenu>
            <h:message for="customerFrom" />

            <p:outputLabel for="item" value="Наименование:"  />
            <p:selectOneMenu id="item" value="#{giftBean.selectedItem}" panelStyle="width:180px" required="true" 
                             effect="fade" style="width:160px; margin-top: 5px; " filter="true" filterMatchMode="startsWith">
                <f:selectItem itemLabel="Выберите... " itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{giftBean.orderItems}" var="item" itemLabel="#{item.code}  -  #{item.length}м" itemValue="#{item.id}" />
            </p:selectOneMenu>
            <h:message for="item" />

            <p:outputLabel for="length" value="Длина:"  />
            <p:inputText id="length" label="Длина отреза" value="#{giftBean.length}" required="true" size="6" >
                <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
            </p:inputText>  
            <h:message for="length" />

            <p:outputLabel for="customerTo" value="Василиса одариваемая:"  />
            <p:selectOneMenu id="customerTo" value="#{giftBean.customerTo}" panelStyle="width:180px" required="true" 
                             effect="fade" style="width:160px; margin-top: 5px; " filter="true" filterMatchMode="startsWith">
                <f:selectItem itemLabel="Выберите... " itemValue="#{null}" noSelectionOption="true" />
                <f:selectItems value="#{giftBean.customers}" var="cust" itemLabel="#{cust}" itemValue="#{cust}" />
            </p:selectOneMenu>
            <h:message for="customerTo" />

            <p:commandButton title="Оформить" actionListener="#{giftBean.giftItem}"  update=":giftForm"  >
                <p:confirm header="Подтверждение оформления дарения" message="Вы хотите из одного заказа изъять в пользу другого?" icon="ui-icon-alert" />
            </p:commandButton>    

        </h:panelGrid>
    </p:panel> 

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Да" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="Нет" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>

</h:form>
