<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="historyForm">

    <p:messages id="messages" showDetail="false" closable="true"/>

    <h:panelGrid columns="2" cellpadding="10" id="historyGrid">
        <p:dataTable id="historyId" var="history" value="#{orderBean.histories}" widgetVar="historiesTable" 
                     resizableColumns="true" rows="15" paginator="true"
                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="10,15,20,30,40"
                     emptyMessage="Ничего не найдено по заданным критериям" filteredValue="#{orderBean.filteredHistories}">

            <f:facet name="header">
                Хронология ввода запросов 
                <p:outputPanel style="text-align:right" >
                    <h:outputText value="Поиск по всем полям:" />
                    <p:inputText id="globalFilter" onkeyup="PF('historiesTable').filter()" style="width:150px" placeholder=""/>
                </p:outputPanel>
            </f:facet>


            <p:column headerText="Дата" filterBy="#{history.date}" filterMatchMode="contains" width="200">
                <h:outputText value="#{history.date}" />
            </p:column>

            <p:column headerText="Автор" filterBy="#{history.author}" filterMatchMode="contains" width="200">
                <h:outputText value="#{history.author}" />
            </p:column>

            <p:column headerText="Информация" filterBy="#{history.info}" filterMatchMode="contains">
                <h:outputText value="#{history.info}" />
            </p:column>

            <p:column headerText="Примечание" >
                <h:outputText value="#{history.note}" />
            </p:column>

        </p:dataTable>


    </h:panelGrid>


</h:form>
