<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="orderForm">

    <p:panel header="Волшебная строка"> 
        <h:panelGrid id="orderGrid" class="ui-noborder"  cellpadding="5" style="margin-top: 0px; " >
            <p:row>  
                <p:column>  
                    <p:outputLabel for="name" value="Ник: " />
                </p:column>  
                <p:column>  
                    <p:inputText id="name" label="Ник на форуме" value="#{orderBean.user}" required="true">
                        <p:ajax event="blur" listener="#{orderBean.showUserInfo}" update="orderedItems expectedItems" />
                    </p:inputText>
                </p:column>  
                <p:column>  
                    <p:message for="name" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel for="orderedItems" value="Подтверждено :"/>
                </p:column>
                <p:column colspan="2">
                    <h:outputText id="orderedItems" value="#{orderBean.orderedItem}" />
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="3">
                    <h:outputText id="expectedItems" value="Ожидание: #{orderBean.expectedItem}" />
                </p:column>
            </p:row>    
        </h:panelGrid>

        <p:separator />               

        <h:panelGrid id="orderGrid1" class="ui-noborder" cellpadding="5" style="margin-top: 0px; " columns="1" >

            <p:messages id="messages" showDetail="false" closable="true" />


            <h:outputText   
                value="Введите пожелание.Коды разделяйте точкой с запятой, десятичный разделитель - точка или запятая." />

            <h:outputText value="Регистр неважен. Минимальный отрез 0.5 м. Например: z11-0.5; R2-1.5; v10-4;" />

            <p:inputTextarea id="order" label="Пожелание" value="#{orderBean.order}" cols="80" rows="3" >
            </p:inputTextarea>                    
            <h:message for="order" />
            <p:commandButton id="sendButton"  value="Отправить"  action="#{orderBean.addOrder}" update="messages :orderForm :orderForm:orderGrid ">
            </p:commandButton>    

        </h:panelGrid>
    </p:panel> 
 
    
        <p:carousel var="fabric" value="#{orderBean.fabricsAvail}" headerText="Перечень доступных марок / метраж" 
                    itemStyle="text-align:center" responsive="true" numVisible="6">
        <p:panelGrid columns="1" style="width:100%;margin:10px 0px" columnClasses="label,value" layout="grid" styleClass="ui-panelgrid-blank">
            <f:facet name="header">
                <h:outputText value="#{fabric.code}" />
            </f:facet>
                <ui:fragment rendered="#{not empty fabric.imageFolder and not empty fabric.imagePath}">
                     <img src="#{fabric.imagePath}" border="0"
                         alt="#{fabric.imageTitle}" title="#{fabric.imageTitle}" width="60px" height="80px"/>
                </ui:fragment>
                         
                 <h:outputText value="#{fabric.remainder}м" >
                    <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
                </h:outputText>
        </p:panelGrid>
 
        <f:facet name="footer">
                В наличии  ХХХХ карточек.
        </f:facet>
    </p:carousel>

</h:form>
