<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="marafonForm">

    <p:messages id="messages" showDetail="true" closable="true" />

    <p:commandButton value="Обновить" icon="ui-icon-refresh" actionListener="#{purchaseBean.refreshPurchases}"  update="purchaseList messages" style="margin-right: 10px;" />
    <p:commandButton value="Создать новый" update=":marafonForm:purchaseDetail" 
                                     oncomplete="PF('editDialog').show()" icon="ui-icon-extlink" 
                                     title="Cоздание нового марафона"
                         style="margin-right: 10px;" />  
        
    <p:dataTable  id="purchaseList" var="pur" value="#{purchaseBean.getView()}" 
                   editable="true" style="margin-top: 10px; margin-bottom:10px;"  
                   selection="#{purchaseBean.selectedPurchase}" rowKey="#{pur.id}" >
       <f:facet name="header">Список "Марафоны"</f:facet>
 
       <p:ajax event="rowEdit" listener="#{purchaseBean.onRowEdit}" update=":marafonForm:messages" />
       <p:ajax event="rowEditCancel" listener="#{purchaseBean.onRowCancel}" update=":marafonForm:messages" />
 
       <p:column selectionMode="single" style="width:16px;text-align:center"/>
       <p:column headerText="Дата">
                   <h:outputText value="#{pur.date}" />
         </p:column>
       
       <p:column headerText="Название">
           <p:cellEditor>
               <f:facet name="output"><h:outputText value="#{pur.description}" /></f:facet>
               <f:facet name="input"><p:inputText value="#{pur.description}" style="width:100%" label="Year"/></f:facet>
           </p:cellEditor>
       </p:column>
 
       <p:column style="width:32px">
           <p:rowEditor />
       </p:column>
        <f:facet name="footer">
            <p:commandButton  process="purchaseList" value="Установить текущий марафон" 
                              icon="ui-icon-check" style="margin-left:10px; "
                              action="#{purchaseBean.chooseCurrentPurchase()}" update=":toolbarForm  :marafonForm:messages" />
        </f:facet>
   </p:dataTable>
 
    <p:dialog header="Создание нового марафона" widgetVar="editDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="purchaseDetail" style="text-align:center;" >
            <p:panelGrid  columns="2"  columnClasses="label,value">

                <h:outputText value="Название:" />
                <h:inputText value="#{purchaseBean.newPurchase}" />

            </p:panelGrid>

            <p:button value="Закрыть" style="margin-top: 10px; margin-right: 10px;" onclick="PF('editDialog').hide(); return false;" /> 
            <p:commandButton id="sendButton"  value="Сохранить"  style="margin-top: 10px;" 
                             action="#{purchaseBean.createPurchase}"
                             update="purchaseList messages" oncomplete="PF('editDialog').hide()">
            </p:commandButton>    

        </p:outputPanel>
    </p:dialog >

</h:form>
