<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="order2Form">

    <p:messages id="messages" showDetail="true" closable="true" />
    <p:commandButton value="Обновить" icon="ui-icon-refresh" actionListener="#{reportBean.refreshReports2()}"  update="tbl messages" style="margin-right: 10px;" />
    <h:commandLink   value="Выгрузка в Excel..." style="margin-left:30px; margin-right:10px">
        <p:dataExporter type="xls" target="tbl" fileName="reportsByNick" />
    </h:commandLink>

    <p:dataTable id="tbl" var="rep" value="#{reportBean.reports2}" style="margin-top: 10px; margin-bottom:10px;">

        <f:facet name="header">Отчет по Василисам. Марафон: #{purchaseBean.currentPurchase.description}</f:facet>
        <p:column width="100">
            <f:facet name="header">
                <h:outputText value="Ник" />
            </f:facet>
            <h:outputText value="#{rep.nick}" />
        </p:column>

        <p:column width="100">
            <f:facet name="header">
                <h:outputText value="Отрезы"/>
            </f:facet>
            <h:outputText value="#{rep.weavingCutCount}" >
                    <f:convertNumber type="number" maxIntegerDigits="2" />
                </h:outputText>
        </p:column>

        <p:column width="100">
            <f:facet name="header">
                <h:outputText value="Длина" />
            </f:facet>
            <h:outputText value="#{rep.weavingCutLength}" >
                    <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
                </h:outputText>
        </p:column>

        <p:column width="100">
            <f:facet name="header">
                <h:outputText value="Сумма" />
            </f:facet>
            <h:outputText value="#{rep.amount}" >
                    <f:convertNumber type="number" maxIntegerDigits="5" maxFractionDigits="2"/>
                </h:outputText>
        </p:column>

        <p:column>
            <f:facet name="header">
                <h:outputText value="Информация" />
            </f:facet>
            <h:outputText value="#{rep.info}" />
        </p:column>
    </p:dataTable>
    
    
</h:form>
