<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="order2Form">

    <p:messages id="messages" showDetail="true" closable="true" />
    <p:commandButton value="Обновить" icon="ui-icon-refresh" actionListener="#{report.refreshReports2()}"  update="tbl messages" style="margin-right: 10px;" />
    <h:commandLink   value="Выгрузка в Excel..." style="margin-left:30px; margin-right:10px">
        <p:dataExporter type="xls" target="tbl" fileName="reports1" />
    </h:commandLink>

    <p:dataGrid id="tbl" var="rep" value="#{reportBean.reports2}" columns="4" 
                rows="12" paginator="true" id="reports2"
                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="8,16,24">

        <f:facet name="header">Этикетки</f:facet>

        <p:panel header="#{per.nick}" style="text-align:center">
            <h:panelGrid columns="1" style="width:100%">
                <h:outputText value="#{per.weavingCutCount}" >
                    <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
                </h:outputText>

                <h:outputText value="#{per.weavingCutLength}" >
                    <f:convertNumber type="number" maxIntegerDigits="2" maxFractionDigits="2"/>
                </h:outputText>

                <h:outputText value="#{per.info}"/>
            </h:panelGrid>
        </p:panel>

    </p:dataGrid>
    
</h:form>
