<h:form xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        id ="orderForm">


    <p:messages id="messages" showDetail="true" closable="true" />
    <p:commandButton value="Обновить" icon="ui-icon-refresh" actionListener="#{reportBean.refreshReports1()}"  update="tbl messages" style="margin-right: 10px;" />
    <h:commandLink   value="Выгрузка в Excel..." style="margin-left:30px; margin-right:10px">
        <p:dataExporter type="xls" target="tbl" fileName="reportsByCode" />
    </h:commandLink>

    <p:dataTable id="tbl" var="rep" value="#{reportBean.reports1}" style="margin-top: 10px; margin-bottom:10px;">

        <f:facet name="header">Отчет по рулонам. Марафон: #{purchaseBean.currentPurchase.description}</f:facet>
        <p:column width="100">
            <f:facet name="header">
                <h:outputText value="Код" />
            </f:facet>
            <h:outputText value="#{rep.code}" />
        </p:column>

        <p:column width="100">
            <f:facet name="header">
                <h:outputText value="Рулон"/>
            </f:facet>
            <h:outputText value="#{rep.rollNumber}" />
        </p:column>

        <p:column width="100">
            <f:facet name="header">
                <h:outputText value="Длина" />
            </f:facet>
            <h:outputText value="#{rep.rollLength}" />
        </p:column>

        <p:column>
            <f:facet name="header">
                <h:outputText value="Информация" />
            </f:facet>
            <h:outputText value="#{rep.info}" />
        </p:column>
    </p:dataTable>
    
    
</h:form>
