<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view locale="#{letsBuyApp.locale}" encoding="UTF-8" contentType="text/html; charset=utf-8">
        <h:head>
            <title>Веселый забег</title>
        </h:head>
        <h:body>

            <h:panelGroup id="header" layout="block" style="padding-bottom: 10px;">
                <h:form id="toolbarForm">
                    <p:toolbar> 
                        <f:facet name="left">
                            <h:outputText value="Марафон: #{purchaseBean.currentPurchase.description}" /> 
                            <span class="ui-separator">
                                <span class="ui-icon ui-icon-grip-dotted-vertical" />
                            </span>
                            <f:ajax render=":content">
                                <p:commandButton  value="Ввод" icon="ui-icon-pencil"  action="#{orderBean.setPage('order_input')}" />
                                <span class="ui-separator">
                                    <span class="ui-icon ui-icon-grip-dotted-vertical" />
                                </span>
                                <p:commandButton  value="Наличие" icon="ui-icon-cart" action="#{orderBean.setPage('fabrics_avail')}" />  
                                <p:commandButton  value="История" icon="ui-icon-image" action="#{orderBean.setPage('order_history')}" />  
                                <p:commandButton  value="Сводная" icon="ui-icon-bookmark" action="#{orderBean.setPage('fabrics_summary')}" />
                            </f:ajax>    
                        </f:facet>
                        <f:facet name="right">
                            <h:outputText id="customerName" value="Василиса: #{orderBean.user}" /> 
                        </f:facet>

                    </p:toolbar>
                </h:form>
            </h:panelGroup>


            <h:panelGroup id="content" layout="block">
                <ui:include src="/content/#{orderBean.page}.xhtml" />
            </h:panelGroup>



        </h:body>
    </f:view>
</html>

