<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view locale="#{letsBuyApp.locale}" encoding="UTF-8" contentType="text/html; charset=utf-8">
        <h:head>
            <title>Страница Шивы</title>
        </h:head>
        <h:body>

            <h:panelGroup id="header" layout="block" style="padding-bottom: 10px;">
                <h:form id="toolbarForm">
                    <p:toolbar> 
                        <f:facet name="left">
                            <h:outputText value="Марафон: #{purchaseBean.currentPurchase.description}" /> 
                            <span class="ui-separator">
                                <span class="ui-icon ui-icon-grip-dotted-vertical" />
                            </span>
                            <f:ajax render=":content">
                                <p:commandButton type="button" title="Ввод" icon="ui-icon-document"  action="#{purchaseBean.setPage('fabrics_input')}" />
                                <p:commandButton type="button" title="Редактирование" icon="ui-icon-pencil" action="#{purchaseBean.setPage('fabrics_editing')}" />  
                                <p:commandButton type="button" title="Наличие" icon="ui-icon-cart" action="#{purchaseBean.setPage('fabrics_common')}" />  
                                <p:commandButton type="button" title="Сводная" icon="ui-icon-bookmark" action="#{purchaseBean.setPage('fabrics_summary')}" />
                                <span class="ui-separator">
                                    <span class="ui-icon ui-icon-grip-dotted-vertical" />
                                </span>
                                <p:commandButton type="button" title="Василисы" icon="ui-icon-person" action="#{purchaseBean.setPage('customer_details')}" />
                                <p:commandButton type="button" title="Подарок" icon="ui-icon-heart" action="#{purchaseBean.setPage('gift')}" />
                                <p:commandButton type="button" title="Марафон" icon="ui-icon-wrench" action="#{purchaseBean.setPage('purchase')}" />
                                <span class="ui-separator">
                                    <span class="ui-icon ui-icon-grip-dotted-vertical" />
                                </span>
                                <p:commandButton  value="Отчет по рулонам" icon="ui-icon-copy" action="#{purchaseBean.setPage('report_1')}" />
                                <p:commandButton  value="Отчет по Василисам" icon="ui-icon-copy" action="#{purchaseBean.setPage('report_2')}" />
                            </f:ajax>    
                        </f:facet>
                        <f:facet name="right">
                            <p:menuButton value="Отчеты">
                                <p:menuitem value="Отчет по рулонам" action="#{purchaseBean.setPage('report_1')}"/>
                                <p:menuitem value="Отчет по василисам"/>
                                <p:menuitem value="Отчет этикетки"/>
                            </p:menuButton>
                        </f:facet>

                    </p:toolbar>
                </h:form>
            </h:panelGroup>


            <h:panelGroup id="content" layout="block">
                <ui:include src="/content/#{purchaseBean.page}.xhtml" />
            </h:panelGroup>



        </h:body>
    </f:view>
</html>

